# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
projects/DevEnvDemo/.sonarlint/modules/DevEnvV1/issues/0/b/0b7954083a80aba852bda353bb530c1886454e12
projects/DevEnvDemo/.sonarlint/modules/DevEnvV1/issues/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
projects/DevEnvDemo/.sonarlint/modules/DevEnvV1/issues/5/e/5ee60ae6d83c6d49c441433ac364abae3c8b49f9
projects/DevEnvDemo/.sonarlint/modules/DevEnvV1/issues/6/e/6e65224274246747208effd5a6c46a5600f2f566
projects/DevEnvDemo/.sonarlint/modules/DevEnvV1/issues/a/d/ad7506b24bb82e524300a2f1200fa3755a4fb79d
projects/DevEnvDemo/.sonarlint/modules/DevEnvV1/issues/index.pb
projects/DevEnvDemo/.sonarlint/modules/MAPRDB-OJAI/issues/2/4/243e465ec9f5f8163bdf0ab6610d06484266d046
projects/DevEnvDemo/.sonarlint/modules/MAPRDB-OJAI/issues/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
projects/DevEnvDemo/.sonarlint/modules/MAPRDB-OJAI/issues/6/6/66c0587622a6d88fb49f10b01ec42df15867273e
projects/DevEnvDemo/.sonarlint/modules/MAPRDB-OJAI/issues/f/4/f422e6e947ddb04d3ecbad5a03700f80d22a31a4
projects/DevEnvDemo/RemoteSystemsTempFiles/.project
